*
{
    font-family: "Consolas";
    font-size: 11pt;
}

QPushButton
{
    padding: 10px;
}

BaseConfigurationDialog QPushButton
{
    padding-left: 30px;
    padding-right: 30px;
}

HotkeysMainWindow QTreeWidget::item
{
    min-height: 40px;
}

/*HotkeyElement QLabel
{
    padding-left: 30px;
    padding-right: 30px;
    background-color: gray
}*/
