/* Global style setting */

*
{
    font-family: "Consolas";
    font-size: 11pt;
    color: white;
}

QComboBox
{
    width: 70px;
    color: white;
    background-color: #181d5a;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}

QComboBox:checked
{
    background-color: #3543e7;
    color: #baff0c;
}

QComboBox QAbstractItemView
{
    border-width: 2px;
    border-radius: 3px;
    border-style: outset;
    border-color: #b1b7ff;
    background-color: #181d5a;
    selection-background-color: #3543e7;
}

QComboBox::drop-down
{
     width: 15px;
     color: white;
     border-color: #b1b7ff;
     border-radius: 3px;
     padding-left: 10px;
}

QComboBox::down-arrow, QSpinBox::down-arrow, QTimeEdit::down-arrow, QDateEdit::down-arrow
{
     image: url(:/icons/down_arrow.png);
}

/* Start widget style setting */

LoadDialog, LaunchWidget, CreationDialog
{
    background-image: url(Resources/Icons/StartMenuBackground.png);
    background-color: black;
}

GreetingWidget QPushButton, LoadDialog QPushButton, CreationDialog QPushButton
{
    font-family: Calibri;
    font-weight: bold;
    padding: 10px;
    
    color: white;
    background-color: #181d5a;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}

GreetingWidget QPushButton:hover, LoadDialog QPushButton:hover, CreationDialog QPushButton:hover
{
    background-color: #3543e7;
    color: #baff0c;
}


QPushButton#btnReview
{
    padding-top: 2px;
    padding-bottom: 2px;
}

/* ------------------------------------------------------------------------------ */

/* HotkeysMainWindow, ActionHotkeyWidget, HotkeysMainWindow#QVBoxLayout, HotkeysMainWindow#QHBoxLayout
{
    background-color: black;
    color: white;
} */

BaseConfigurationDialog QPushButton
{
    padding-left: 30px;
    padding-right: 30px;
}

HotkeysMainWindow QTreeWidget::item
{
    min-height: 40px;
}

QLabel#HotkeyLabel
{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ABABAB;
}
