*
{
    font-family: "Consolas";
    font-size: 11pt;
    color: white;
}

GreetingWidget QPushButton, LoadDialog QPushButton, CreationDialog QPushButton
{
    padding: 10px;
    
    color: white;
    background-color: #3543e7;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}

GreetingWidget QPushButton:hover, LoadDialog QPushButton:hover, CreationDialog QPushButton:hover
{
    background-color: #b1b7ff;
    border-color: #3543e7;
    color: black;
}

QComboBox
{
    width: 80px;
    color: white;
    background-color: #3543e7;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}
QComboBox::drop-down
{
    color: black;
}

LoadDialog, LaunchWidget, CreationDialog
{
    background-image: url(Resources/Icons/StartMenuBackground.png);
    background-color: black;
}

/* HotkeysMainWindow, ActionHotkeyWidget, HotkeysMainWindow#QVBoxLayout, HotkeysMainWindow#QHBoxLayout
{
    background-color: black;
    color: white;
} */

BaseConfigurationDialog QPushButton
{
    padding-left: 30px;
    padding-right: 30px;
}

HotkeysMainWindow QTreeWidget::item
{
    min-height: 40px;
}

QLabel#HotkeyLabel
{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ABABAB;
}
