/* See more information about Qt .css syntax in documentation */
/* 1. https://doc.qt.io/qt-5/stylesheet-syntax.html */
/* 2. https://doc.qt.io/qt-5/stylesheet-reference.html */
/* 3. https://forum.qt.io/topic/40151/solved-scaled-background-image-using-stylesheet/3 */
/* Global style setting */

*
{
    font-family: "Consolas";
    font-size: 11pt;
    color: black;
}

QComboBox
{
    width: 70px;
    color: white;
    background-color: #181d5a;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}

QComboBox:checked
{
    background-color: #3543e7;
    color: #baff0c;
}

QComboBox QAbstractItemView
{
    border-width: 2px;
    border-radius: 3px;
    border-style: outset;
    border-color: #b1b7ff;
    color: white;
    background-color: #181d5a;
    selection-background-color: #3543e7;
}

QComboBox::drop-down
{
     width: 15px;
     color: white;
     border-color: #b1b7ff;
     border-radius: 3px;
     padding-left: 10px;
}

QComboBox::down-arrow
{
     image: url(:/icons/down_arrow.png);
}

/* Start widget style setting */
LoadDialog, LaunchWidget, CreationDialog
{
    /* background: center no-repeat url(Resources/Icons/StartMenuBackground.png); */
    /* Watch at https://forum.qt.io/topic/40151/solved-scaled-background-image-using-stylesheet/3 */
    border-image: url(Resources/Theme/StartMenuBackground.webp) 0 0 0 0 stretch stretch;
    background-color: black;
}

BaseConfigurationDialog QPushButton
{
    padding-left: 30px;
    padding-right: 30px;
}

GreetingWidget QPushButton, LoadDialog QPushButton, CreationDialog QPushButton, HotkeysMainWindow QPushButton
{
    font-family: Calibri;
    font-weight: bold;
    padding: 10px;
    
    color: white;
    background-color: #181d5a;
    
    border-style: outset;
    border-width: 2px;
    border-color: #b1b7ff;
    border-radius: 3px;
}

GreetingWidget QLabel, LoadDialog QLabel, CreationDialog QLabel, 
GreetingWidget QRadioButton, LoadDialog QRadioButton, CreationDialog QRadioButton, 
GreetingWidget QCheckBox, LoadDialog QCheckBox, CreationDialog QCheckBox
{
    color: white;
}

GreetingWidget QPushButton:hover, LoadDialog QPushButton:hover, CreationDialog QPushButton:hover
{
    background-color: #3543e7;
    color: #baff0c;
}

QPushButton#btnReview
{
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Main editor window style settings */

HotkeysMainWindow
{
    border-image: url(Resources/Theme/EditorBackground.webp) 0 0 0 0 stretch stretch;
    background-color: black;
}

HotkeysMainWindow, HotkeysMainWindow#QVBoxLayout, HotkeysMainWindow#QHBoxLayout, HotkeysMainWindow#QBoxLayout, HotkeysMainWindow#QWidget, 
ActionHotkeyWidget, ActionHotkeyWidget#QVBoxLayout, ActionHotkeyWidget#QHBoxLayout, ActionHotkeyWidget#QBoxLayout, ActionHotkeyWidget#QWidget
{
    background-color: black;
    color: white;
}

HotkeysMainWindow QPushButton:hover
{
    background-color: #3543e7;
    color: #baff0c;
}

HotkeysMainWindow QPushButton:pressed
{
    background-color: #3543e7;
    color: white;
}

HotkeysMainWindow QPushButton:pressed:hover
{
    background-color: #3543e7;
    color: #baff0c;
}

HotkeysMainWindow QTreeWidget, HotkeyMainWindow QWidget, 
HotkeyMainWindow QHBoxLayout, HotkeyMainWindow QVBoxLayout, 
HotkeyMainWindow QScrollArea, HotkeyMainWindow QTabWidget,
ActionHotkeyWidget QWidget,
HotkeyMainWindow QTabWidget::QLayout,
HotkeyMainWindow QTabWidget::QVBoxLayout,
QVBoxLayout#hotkeysLayout
{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    border-width: 5px;
    border-color: white;
    color: white;
}

HotkeysMainWindow QTreeWidget::item
{
    min-height: 40px;
}

HotkeysMainWindow QLabel#HotkeyLabel
{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #128d2d;
}
